<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">

	<nav class="navbar navbar-expand-sm navbar-light bg-light">
	  <div class="container-fluid">
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="mynavbar">
	      <ul class="navbar-nav me-auto">
	        <li class="nav-item">
	          <a class="nav-link" href="/home">Home</a>
	        </li>
	         <li class="nav-item">
	          <a class="nav-link" href="/cart">Cart</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/orders">Orders</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/logout">Logout</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>

<div class="container mt-3">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Sporty Shoes</h1>
    <p>Powered By Simplilearn</p> 
    <p>Step Up Your Game with Sporty Shoes: Where Every Click is a Stride Towards Style!</p>
    <p th:text=" 'Hello ' + ${user.name} + ' !' " />
  </div>
</div>


<div class="container mt-3">
  
 <div class="card">
  <div class="card-body">
    <h4 class="card-title" th:text="'NAME: '+ ${user.name} "/>
    <p class="card-text" th:text="'EMAIL: '+ ${user.email} " />
    <p class="card-text" th:text="'PASSWORD: '+${user.password} " />
    
    <a href="/edit-profile" class="card-link">Update Profile</a>
    
    
  </div>
</div>
  
</div>

</body>
</html>
